:root {
  font-family: Lexend, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  --AbsoluteWhite: "#fff";
  --AbsoluteBlack: "#000";
  --Green60: "#CAFF33";
  --Green65: "#D1FF4D";
  --Green70: "#D8FF66";
  --Green80: "#E5FF99";
  --Green90: "#F2FFCC";
  --Green95: "#F8FFE5";
  --Green97: "#FBFFF0";
  --Green99: "#FEFFFA";
  --White90: "#E4E4E7";
  --White95: "#F1F1F3";
  --White97: "#F7F7F8";
  --White99: "#FCFCFD";
  --Gray10: "#1A1A1A";
  --Gray11: "#1C1C1C";
  --Gray15: "#262626";
  --Gray20: "#333333";
  --Gray30: "#4C4C4D";
  --Gray35: "#59595A";
  --Gray40: "#656567";
  --Gray60: "#98989A";
  --Gray70: "#B3B3B3";
  --Gray75: "#BFBFBF";
  color-scheme: dark;
  color: rgba(255, 255, 255, 1);
  background-color: #1A1A1A;
}